@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

    @media screen and (max-width: 480px) {

      h1 {
        text-align: center;
      }

      nav {
        position: static;
      }

      .listaBeneficios,
      .imagem-beneficios {
        width: 100%;
      }
    }

    body {
      background-image: url(https://images.pexels.com/photos/545064/pexels-photo-545064.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);

    }

    header {
      text-align: center;
      margin-top: 4em;
    }

    img {
      width: 200px;
    }

    h1 {
      color: white;
      font-family: Roboto;
    }

    main {
      position: relative;
      text-align: center;
      border-style: solid;
      border-color: white;
      color: #979A9A;
      font-family: Roboto;
      background-color: #fff9f9;
      opacity: 0.8;
      font-size: 30px;
      margin: 2em;
      padding: 30px;
      max-width: 500px;
    }

    .calculadora {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .classe1 {
      padding-top: 1em;
    }

    .grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-row-gap: 2px;
      grid-column-gap: 2px;
    }

    .grid-item {
      border: 1px solid;
      color: black;
      /* width: 500px; */
    }

    .last {
      grid-column-start: 0;
      grid-column-end: 3;
      text-align: center;
    }

    .grid-item:hover {
      background-color: #D0D3D4;
      cursor: pointer;
    }

    .classe2 {
      padding-bottom: 1em;
    }

    input {
      font-family: Roboto;
      border-style: solid;
      border-color: #D0D3D4;
      background-color: #D0D3D4;
      border-radius: 4px;
      border-width: 3px;
      margin: 10px;
      width: 200px;
      height: 20px;
      text-align: center;
    }

    label {
      text-align: center;
    }

    button {
      border-radius: 5px;
      margin-bottom: 10px;
      border-color: white;
      font-family: Roboto;
      border: 0px;
      background-color: #D0D3D4;
      width: 100px;
      height: 25px;
    }

    button:hover {
      color: white;
      background-color: green;
    }